////
/// @group Helpers
/// @author Joey Hoer
////

///
/// Adjust HSL(a) values
/// This is a shorthand version of the `adjust-color` function, which
/// increases or decreases one or more properties of a color.
///
/// @param {color} $color - The color to adjust
/// @param {number} $h (0) - The adjustment to make on the hue component,
/// in degrees
/// @param {number} $s (0) - The adjustment to make on the saturation component,
/// between -100% and 100% inclusive
/// @param {number} $l (0) - The adjustment to make on the lightness component,
/// between -100% and 100% inclusive
/// @param {number} $a (0) - The adjustment to make on the alpha component,
/// between -1 and 1 inclusive
/// @return {color} - The adjusted color
///
@function adjust-hsl (
    $color,
    $h: 0,
    $s: 0,
    $l: 0,
    $a: 0
) {

    @return adjust-color(
        $color,
        $hue: $h,
        $saturation: $s,
        $lightness: $l,
        $alpha: $a
    );

}

///
/// Scale HSL(a) values
/// This is a shorthand version of the `scale-color` function, which
/// fluidly scales one or more properties of a color.
///
/// @param {color} $color - The color to scale
/// @param {number} $s (0) - The amount adjust the hue component, in degrees
/// Note that this value is not scaled, as `scale-color` does not support hue
/// @param {number} $s (0) - The amount to scale the saturation component,
/// between -100% and 100% inclusive
/// @param {number} $l (0) - The amount to scale the lightness component,
/// between -100% and 100% inclusive
/// @param {number} $a (0) - The amount to scale the alpha component,
/// between -1 and 1 inclusive
/// @return {color} - The scaled color
///
@function scale-hsl (
    $color,
    $h: 0,
    $s: 0%,
    $l: 0%,
    $a: 0%
) {

    @return scale-color(
        adjust-hue($color, $h),
        $saturation: $s,
        $lightness: $l,
        $alpha: $a
    );

}

///
/// Change HSL(a) values
/// This is a shorthand version of the `change-color` function, which
/// changes one or more properties of a color.
///
/// @param {color} $color - The color to change
/// @param {number} $h (0) - The new hue component for the color, in degrees
/// Note that this value is not scaled, as `scale-color` does not support hue
/// @param {number} $s (0) - The new saturation component for the color,
/// between 0% and 100% inclusive
/// @param {number} $l (0) - The new lightness component for the color,
/// within 0% and 100% inclusive
/// @param {number} $a (0) - The new alpha component for the color,
/// within 0 and 1 inclusive
/// @return {color} - The changed color
///
@function change-hsl (
    $color,
    $h: 0,
    $s: 0,
    $l: 0,
    $a: 0
) {

    @return change-color(
        $color,
        $hue: $h,
        $saturation: $s,
        $lightness: $l,
        $alpha: $a
    );

}

///
/// Add percentage of white to a color
///
/// @param {color} $color - The color to tint
/// @param {number} $percent - The amount at which to tint the color
/// @return {color} - The tinted color
///
@function tint($color, $percent){
    @return mix(white, $color, $percent);
}

///
/// Add percentage of black to a color
///
/// @param {color} $color - The color to shade
/// @param {number} $percent - The amount at which to shade the color
/// @return {color} - The shaded color
///
@function shade($color, $percent){
    @return mix(black, $color, $percent);
}
