///
/// Adjust HSL(a) values
/// This is a shorthand version of the `adjust-color` function
///
/// @param {color} $color - The color to adjust
/// @param {number} $h (0) - The amount with which to adjust the hue
/// @param {number} $s (0) - The amount with which to adjust the saturation
/// @param {number} $l (0) - The amount with which to adjust the lightness
/// @param {number} $a (0) - The amount with which to adjust the alpha value
/// @return {color} - The adjusted color
///
@function adjust-hsl (
    $color,
    $h: 0,
    $s: 0,
    $l: 0,
    $a: 0
) {

    @return adjust-color(
        $color,
        $hue: $h,
        $saturation: $s,
        $lightness: $l,
        $alpha: $a
    );

}

///
/// Add percentage of white to a color
///
/// @param {color} $color - The color to tint
/// @param {number} $percent - The amount at which to tint the color
/// @return {color} - The tinted color
///
@function tint($color, $percent){
    @return mix(white, $color, $percent);
}

///
/// Add percentage of black to a color
///
/// @param {color} $color - The color to shade
/// @param {number} $percent - The amount at which to shade the color
/// @return {color} - The shaded color
///
@function shade($color, $percent){
    @return mix(black, $color, $percent);
}
