///
/// Search a map
///
/// @param {map} $map - The map to search
/// @param {mixed} $value - The value to search for
/// @return {mixed} - The value which is found
///
@function map-search($map, $value) {
    $values: map-values($map);
    $keys: map-keys($map);
    $index: index(map-values($map), $value);
    @return if($index, nth($keys, $index), false);
}
