////
/// @group Helpers
/// @author Joey Hoer
////

///
/// Return the opposite of a value, or `null` if an opposite is not found
///
/// @param {mixed} $var - The value to find the opposite of
/// @param {map} $opposites [null] - A map holding the association of values and
/// their opposites
/// @return {string} - The opposite value
///
@function opposite-of(
    $var,
    $opposites: null
) {

    @if $opposites == null {
        $opposites: (
            top   : bottom,
            right : left
        );
    }

    $opposite: map-get($opposites, $var);
    @if $opposite == null {
        $opposite: map-search($opposites, $var);
    }

    @return $opposite;
}
