//*
// Takes base to the exponent power, that is, base^exponent.
// NOTE: This function is defined in Compass, this is a fallback.
//
// @param number $base The base number.
// @param number $exponent The exponent.
//
// @return number The resulting number.
//
@function pow($base, $exponent) {
    $res: 1;
    @while($exponent > 0) {
        $res: $res * $base;
        $exponent: $exponent - 1;
    }
    @return $res;
}

//*
// Round a number, keeping a specified number of decimals.
//
// @param number $num The number to be rounded.
// @param number $digits The number of digits to appear after the decimal point.
//
// @return number The rounded number, containing the set number of digits.
//
@function to-fixed (
    $num,
    $digits: 0
) {
    $temp: pow(10, $digits);
    @return round($num*$temp)/$temp;
}

//*
// Strip the unit off a number.
//
// @param number $num The number to remove units from.
//
// @return number The number with unit stripped off.
//
@function strip-unit (
    $num
) {
    @return ($num / ($num * 0 + 1));
}
