.list-divided {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }
  .list-divided {
    display: table;
    border-collapse: collapse; }
    .list-divided > li {
      display: table-cell; }
    .list-divided > li {
      vertical-align: middle; }
      .list-divided > li:first-child {
        border-left: 0; }
      .list-divided > li:last-child {
        border-right: 0; }
