input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  /* All text inputs */ }

input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  /* Exclude some text inputs */ }

input[type="button"], input[type="reset"], input[type="submit"] {
  /* All button inputs */ }

input[type="button"], input[type="reset"] {
  /* Exclude some button inputs */ }
