////
/// @group Grid
/// @author Joey Hoer
////

///
/// Remove last column's gutter
///
///
@mixin omega(
    $nth: block
){

    @if length($nth) == 1 {
        @if $auto {
            &:last-child {
                margin-#{$direction}: 0;
            }
        }

        @else if contains-display-value($nth) and $table == false {
            margin-#{$direction}: 0;
        }

        @else {
            @include nth-child($nth, $direction);
        }
    }

    @else if length($nth) == 2 {
        @if $auto {
            &:last-child {
                margin-#{$direction}: 0;
            }
        }

        @else {
            @include nth-child(nth($nth, 1), $direction);
        }
    }

    @else {
        @warn "Too many arguments passed to the omega() mixin.";
    }
}

///
/// Remove nth-child's gutter
///
///
@mixin nth-child(
    $nth,
    $direction
){
    $opposite-direction: get-opposite-direction($direction);

    &:nth-child(#{$nth}) {
        margin-#{$direction}: 0;
    }

    @if type-of($nth) == number {
        &:nth-child(#{$nth}+1) {
            clear: $opposite-direction;
        }
    }
}
