//*
// Give an element a fixed aspect ratio.
// NOTE: Direct descendans will overflow the container and, thus, be hidden.
// It is recomended the there only be one direct descendant which is "stretched" 
// over the container, allowing grandchildren to be positioned as normal. This
// is the default behavior.
//
// @param number $ratio The ratio of width to height.
//    Photos and videos usually come in 4/3 or 16/9 ratios.
// @param string $element [Default: `:after`] The element to use to create
//    the aspect ratio.
// @param bool $stretch [Defualt: `true`] Then true, direct descendants will be
//    stretched over the container
// @content `> *` Intended to be used set the absolute position of direct
//    descendants
//
@mixin aspect-ratio (
    $ratio,
    $element: ":after",
    $stretch: true
){
    position: relative;
    overflow: hidden;

    &#{$element} {
        content: '';
        display: block;
        height: 0;
        padding-bottom: percentage(1 / $ratio);
    }

    > * {
        @if $stretch {
            @include absolute(0);
        }
        @else {
            @content;
        }
    }
}