////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Set border radius or radii
///
/// Passing `null` will prevent a rule from a being applied to the corresponding corner(s)
///
/// @param {number|list} $radius - The radius/radii to be set
///
@mixin border-radius(
    $radius
){
    @include _trbl($radius, border-radius);
}

///
/// Set the border top radii
///
/// @param {number} $radius - The radius to set for the top borders
///
@mixin border-top-radius(
    $radius
){
    @include border-radius($radius $radius null null);

}

///
/// Set the border right radii
///
/// @param {number} $radius - The radius to set for the right borders
///
@mixin border-right-radius(
    $radius
){
    @include border-radius(null $radius $radius null);
}

///
/// Set the border bottom radii
///
/// @param {number} $radius - The radius to set for the bottom borders
///
@mixin border-bottom-radius(
    $radius
){
    @include border-radius(null null $radius $radius);
}

///
/// Set the border left radii
///
/// @param {number} $radius - The radius to set for the left borders
///
@mixin border-left-radius(
    $radius
){
    @include border-radius($radius null null $radius);
}
