///
/// Draw a CSS ellipse
///
/// @param {list|number} $size (null) - The size (width, height) of the ellipse.
///    A single value will make a circle.
///
@mixin ellipse (
    $size...
) {
    border-radius: 50%;
    @if not empty($size) { @include size($size...); }
}

///
/// Draw a CSS circle
///
/// @param {list|number} $size (null) - The size (width, height) of the ellipse.
///    A single, non-null value will make a circle.
///
@mixin circle (
    $diameter: null
) {
    @include ellipse($diameter);
}

///
/// Draw a CSS obround
///
/// @param {list|number} $size (null) - The size (width, height) of the obround.
///    A single, non-null value will make a circle.
///
@mixin obround (
    $size...
) {
    border-radius: $RLN;
    @if not empty($size) { @include size($size...); }
}
