////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Hide text using one of a number of methods
///
/// @param {string} $method (pseudo) - The method to use to hhide the text.
/// Possible values include `pseudo`, `indent`, and `font`.
///
@mixin hide-text (
    $method: pseudo
){
    @if in-list($method, (pseudo, indent)){
        overflow: hidden;
    }

    @if $method == pseudo {
        &:before {
            content: '';
            display: block;
            @include size(0 150%);
        }
    }
    @elseif $method == indent {
        text-indent: 100%;
        white-space: nowrap;
    }
    @elseif $method == font {
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
    }
}
