//*
// Replace text with an image
//
@mixin image-replace (
    $size
){
    @include size($size);
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      @include size(0 150%);
    }

    // text-indent: 100%;
    // white-space: nowrap;
}