////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Reset colors for faster, cleaner printing
///
/// @link http://www.sanbeiji.com/archives/953 Black prints faster
///
@mixin print-reset-color {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
}

///
/// Print destinations for links
///
/// Underlines links, print's link URLs (excluding fragment identifiers and
/// links using the `javascript:` pseudo protocol)
///
@mixin print-links {

    /* Underline links */
    a,
    a:visited {
        text-decoration: underline;
    }

    /* Print link URLs */
    a[href]:after {
        content: " (" attr(href) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

}

///
/// Print titles for abbreviations
///
@mixin print-abbrs {

    /* Show abbr titles */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

}

///
/// Minimize akward page breaks
///
@mixin print-breaks {

    pre,
    blockquote {
        border: 1px solid hsl(0, 0, 60%);
        page-break-inside: avoid;
    }

    #{headers()},
    p {
        orphans: 3;
        widows: 3;
    }

    #{headers()} {
        page-break-after: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

}

///
/// Attempt to ensure that table headers are displayed on every page,
/// if a table span more the one page
///
/// @link http://css-discuss.incutio.com/wiki/Printing_Tables
///
@mixin print-tables {

    thead {
        display: table-header-group;
    }

}

///
/// Contain images
///
@mixin print-media {

    img {
        max-width: 100% !important;
    }

}

///
/// Wrapper mixin for all print resets
///
/// @param {list} $exclude [false] - The resets to exclude
///
@mixin print-reset (
    $exclude: false
){

    @if not index($exclude, print-reset-color) {
        @include print-reset-color;
    }
    @if not index($exclude, print-links) {
        @include print-links;
    }
    @if not index($exclude, print-abbrs) {
        @include print-abbrs;
    }
    @if not index($exclude, print-breaks) {
        @include print-breaks;
    }
    @if not index($exclude, print-tables) {
        @include print-tables;
    }
    @if not index($exclude, print-media) {
        @include print-media;
    }

}
