//*
//
//
@mixin print-reset-color {
    * {
        background: transparent !important;
        box-shadow: none !important;
        /* Black prints faster: h5bp.com */
        color: hsl(0, 0, 0) !important;
        text-shadow: none !important;
    }
}

//*
//
//
@mixin print-links {

    /* Underline links */
    a,
    a:visited {
        text-decoration: underline;
    }

    /* Print link URLs */
    a[href]:after {
        content: " (" attr(href) ")";
    }

    /* Do not print URIs for images, or javascript/internal links */
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

}

//*
//
//
@mixin print-abbrs {
    
    /* Show abbr titles */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

}

//*
//
//
@mixin print-breaks {

    pre,
    blockquote {
        border: 1px solid hsl(0, 0, 60%);
        page-break-inside: avoid;
    }

    #{headers()},
    p {
        orphans: 3;
        widows: 3;
    }

    #{headers()} {
        page-break-after: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

}

//*
//
//
@mixin print-tables {

    thead {
        display: table-header-group; 
    }

}

//*
//
//
@mixin print-media {

    img {
        max-width: 100% !important;
    }

}

//*
//
//
@mixin print-reset (
    $exclude: false
){
    
    @if not index($exclude, print-reset-color) {
        @include print-reset-color;
    }
    @if not index($exclude, print-links) {
        @include print-links;
    }
    @if not index($exclude, print-abbrs) {
        @include print-abbrs;
    }
    @if not index($exclude, print-breaks) {
        @include print-breaks;
    }
    @if not index($exclude, print-tables) {
        @include print-tables;
    }
    @if not index($exclude, print-media) {
        @include print-media;
    }

}