////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Italicize a section of text while de-italicizing those elements that would
/// normally be italicized — such as `<em>`, `<cite>`, and `<i>`.
///
/// @param {String|List} $selectors [null] - A list of CSS selectors that will
/// not be italicized
///
@mixin reverse-italics(
    $selectors...
){

    $selector-list: em, cite, i;
    @each $selector in $selectors {
        $selector-list: append($selector-list, unquote($selector), comma)
    }

    font-style: italic;
    #{$selector-list} {
        font-style: normal;
    }

}
