///
/// Sets the size of an element (`width` and `height`)
///
/// @param {number} $width -  The width
/// @param {number} $height ($width) -  The height
///
@mixin size (
    $width,
    $height: $width
){
    width: $width;
    height: $height;
}
