//*
// Quickly create CSS table layouts
//
// @param string|list $td Selector(s) of table cells
// @param string|list $tr Selector(s) of table rows
// @param string|list $thead Selector(s) of table header groups
// @param string|list $tfoot Selector(s) of table footer groups
// @param string|list $tbody Selector(s) of table row groups
// @param string|list $layout 
//
@mixin table (
    $td: null,
    $tr: null,
    $thead: null,
    $tfoot: null,
    $tbody: null,
    $layout: auto
) {
    
    display: table;
    @if   $layout != null
      and $layout != auto {
        table-layout: $layout;
    }

    @if $td    != null { #{$td}    { display: table-cell } }
    @if $tr    != null { #{$tr}    { display: table-row } }
    @if $thead != null { #{$thead} { display: table-header-group } }
    @if $tfoot != null { #{$tfoot} { display: table-footer-group } }
    @if $tbody != null { #{$tbody} { display: table-row-group } }
}