////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Collapse whitespace between adjacent `inline-block` elements
///
/// @param {List} $font-family - The current `font-family`
/// @param {List} $word-spacing - The current `word-spacing`
///
@mixin text-space-collapse(
  $font-family,
  $word-spacing: normal
){
  font-family: monospace;
  word-spacing: -1ch;

  & > * {
    font-family: $font-family;
    word-spacing: $word-spacing;
  }

  // Alternative method
  // font-size: 0;
  // & > * {
  //   font-size: $font-size;
  // }

}
