////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Draw a customizable underline
///
/// @param {number} $height - The height of the underline
/// @param {color} $color - The color of the underline
/// @param {number} $location [0.12em] - The location on the vertical axis
///  where the line should be drawn (offset from the bottom)
///
@mixin underline(
  $height,
  $color : currentColor,
  $location: 0.12em
){
  text-decoration: none;
  background-image: linear-gradient(if($color!=currentColor, $color, ($color, $color)));
  background-size: 1px $height;
  background-repeat: repeat-x;
  background-position: bottom $location left;
}
