////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Justifies every line, including the last
///
/// @param {Number} $line-height [null] - This may be set to the line-height of
///   the element, and will remove extra vertical space by applying a
///   negative bottom margin. *NOTE:* This has issues when bottom border is applied
/// @param {String} $selector [':after'] - The selector which specifies the element or
///   psuedo-element to be used to force justification. This *must* be `(:):after`,
///   `:last-child`, or an equivilent, as the last element in the conatiner is
///   the only element able to force justification.
///
@mixin justify-all(
    $line-height: null,
    $selector: ':after'
){
    text-align: justify;
    // When WebKit support this, we can remove legacy pseudo element hack
    // text-align-last: justify;

    @if $line-height {
        @if unitless($line-height) { $line-height: $line-height * 1em; }
        margin-bottom: -$line-height;
    }

    &#{$selector} {
        content: '';
        display: inline-block;
        width: 100%;
    }
}
