////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Sets the size of an element (`width` and `height`)
///
/// @param {Number} $width - The width
/// @param {Number} $height [$width] - The height
///
@mixin size(
    $width,
    $height: $width
){
    width: $width;
    height: $height;
}
