////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Quickly create CSS table layouts
///
/// @param {String|List} $td [null] - Selector(s) of table cells
/// @param {String|List} $tr [null] - Selector(s) of table rows
/// @param {String|List} $thead [null] - Selector(s) of table header groups
/// @param {String|List} $tfoot [null] - Selector(s) of table footer groups
/// @param {String|List} $tbody [null] - Selector(s) of table row groups
/// @param {String|List} $layout [auto] - The value of the table's layout property
///
@mixin table(
    $td: null,
    $tr: null,
    $thead: null,
    $tfoot: null,
    $tbody: null,
    $layout: null
){

    display: table;
    border-collapse: collapse;

    @if $layout != null {
        table-layout: $layout;
    }

    @if $td    != null { #{$td}    { display: table-cell } }
    @if $tr    != null { #{$tr}    { display: table-row } }
    @if $thead != null { #{$thead} { display: table-header-group } }
    @if $tfoot != null { #{$tfoot} { display: table-footer-group } }
    @if $tbody != null { #{$tbody} { display: table-row-group } }
}
