////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Truncate text to a single line, clipped with an ellipsis.
///
@mixin truncate
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
