@import '../../bodykit';

@include reset-border-box;
@include reset-semanticize;
@include reset-vertical-alignment;
@include reset-pointer;
@include reset-form;
@include reset-button;
@include reset-textfield;
@include reset-paragraph;
@include reset-fluid;
@include reset-figure;
@include reset-address;

@include reset;
@include reset($exclude: paragraph);
